.footer {
  background-color: #4e4e4e;
  color: $text-color-light;

  &__wrapper {
  @include wrapper(300px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
    margin: 0 auto;
    padding: 30px;
  }

  &__text {
    font-size: 1.4rem;
  }

  &__social-media {
    font-size: 2rem;

    .fab {
      transition: transform .3s;

      &:hover {
        transform: scale(1.2);

      }

      &:first-child {
        margin-right: 20px;

      }
    }
  }
}
